.contentContainer{
    padding-left: 9%;
    padding-top: 2%;
}

.fotoPerfil{
    background-color: #edf0f4;
    padding: 3% 0%;
    text-align: center;
}
.fotoPerfil img{
    height: 12em;
}

.datos{
    text-align: center;
    margin-top: 2.5%;
    padding: 2.6% 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.datos p{
    margin-bottom: 0.5%;
}
p span{
    background-color: var(--gris-claro);
    font-size: 1.2em;
    margin-right: 2%;
}

.content .logo{
    height: 100px;
    margin-top: 1.5%;
    margin-left: 47%
}