.certificadoContainer{
    padding-bottom: 3.5%;
}
.certificado{
    width: 100%;
    position: relative;
    border: 1px solid black;
    padding: 3.5% 7% ;
}

.decoration{
    position:absolute;
    right: -10px;
    top:-5px;
}
.fecha{
    color: var(--gris);
    margin-bottom: 1%;
}
.certificado h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}


.datosContainer{
    margin-top: 4.5%;
    display: flex;
}
.datos{
    flex: 3;   
}
.datos p{
    margin-bottom: 4%;
}
.datos span{
    margin-right: 2%;
}

.userImageContainer{
    flex: 2;
    display: flex;
    justify-content: end;

}
.userImageContainer img{
    width: 100%;
    height: 250px;
    width: 250px;
}


.cambios{
    color: var(--gris);
}